.card-wrapper {
  background: url("../../../../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  // background: #171b35;

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    border-radius: 10px;
    // background-color: aliceblue;
  }

  .mat-focused {
    border: none;
  }
  .input-field {
    margin-top: 10px;
  }
}
// ::ng-deep .mat-form-field-underline {
//   display: none;
// }
